body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f7f8fc;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #222;
  margin-bottom: 30px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #b02a37;
}

.btn-add {
  background-color: #28a745;
  color: white;
  margin-top: 20px;
}

.btn-add:hover {
  background-color: #1e7e34;
}

.btn-real-time-products{
  background-color: #007bff;
  margin-top: 20px;
}

.text{
  color: white;
  text-decoration: none;
}

.container{
  display: flex;
  justify-content: center;
}